* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container.grid {
  width: 80%;
  margin: 0 auto;
}
body {
  font: normal 1.125rem 'Poppins', sans-serif;
}

h1.title {
  font-size: 2.25rem;
  font-weight: bold;
  /* margin-bottom: 1.875rem; */
  -webkit-font-smoothing: antialiased;
  /* margin-top: calc(4.375rem + 2.5rem); */
  /* margin-bottom: 2rem; */
}

h2.sub-title {
  font: 500 1.5rem 'Poppins', sans-serif;
  text-align: center;
  top: -2.5rem;
}

.container.grid {
  /*o pai dos .icons*/
  width: 100%;
  margin: 0 auto;
}

.text {
  display: grid;
  gap: 2rem;
  margin: calc(4.375rem + 2.5rem) auto 2.6rem auto; /*top right bottom left*/
}

.button {
  display: inline-flex; /*leberar novas propriedades*/
  padding: 0.8125rem;
  width: 100%;
  min-width: 12.5625rem;
  background: hsla(179, 100%, 35%, 1);

  font: 400 1.125rem 'Poppins', sans-serif;
  justify-content: center;
  color: white;

  margin-bottom: 2.625rem;
  border-radius: 0.25rem;
}

font {
  color: hsla(179, 100%, 35%, 1);
}

.section {
  background: white;
  max-width: 80%;
  margin: 0 auto;
}
.sectionCards {
  width: 100%;
}
.container1.grid1 {
  /*o pai dos .icons*/
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 2.2rem;
}
#header {
  height: 4.375rem;
  width: 100%;
  background: chartreuse;
  position: fixed; /*vai mudar para fixed*/
  background: hsla(179, 100%, 35%, 1);
}
/*NAVEGATION*/
#header nav {
  height: 4.375rem;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header .container .menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

header .container.show .menu {
  position: fixed;
  z-index: ;
  width: 100%;
  height: 100%;
  background: rgb(0, 181, 179);
  display: grid;
  /* -webkit-box-align: center; */
  align-items: center;
  left: 0px;
  /* transition: all 0.3s ease-in-out 0s; */
  opacity: 1;
  top: 0px;
  justify-content: center;
  visibility: visible;
}

#header nav {
  display: flex;/*tinha um z-index atrapalhando o
  icon-close aparecer quando chamace a navegation*/
  flex-direction: row-reverse;
}

header nav .icon-close {
  position: absolute;
  visibility: hidden;
  background: red;
}

header .container.show .icon-close {
  opacity: 1;
  visibility: visible;
  right: 1.5rem;
  top: 1.5rem;
}

header .container.show ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

header .container.show ul a {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

/*==================== HOME ======================================*/
#home .container img {
  /*Mulher se Exercitando*/
  height: auto;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 4.06rem;
}
.grid {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

/*==================== ABOUT ======================================*/
#about {
  background: white;
}

#about .container .logo {
  /* img Mulher se Exercitando*/
  height: auto;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.25rem;
  margin-bottom: calc(4.06rem - 0.1625rem);
}

#about .container .image {
  /*Mulher se Exercitando*/
  height: auto;
  width: 80%;
  border-radius: 0.25rem;
  margin: 65px auto;
  /* margin-bottom: 4.6rem; */
}

#about .container .colaboradoras {
  /* img Mulher se Exercitando*/
  height: auto;
  width: 100%;
  border-radius: 0.25rem;
}

#about .container.grid .text {
  margin-top: 0;
  text-align: justify;
}
/*ICONES ABOUT*/
#about .container.grid .about-icon {
  /*o pai dos .icons*/
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about .container .icon {
  /*são as div .icons*/
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#about .container.grid .icon img {
  height: 4.375rem;
  width: 4.375rem;
}

#about .container.grid .about-icon .icon {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about .container.grid .about-icon .icon p {
  margin-top: 1rem;
  font-weight: 700;
  color: hsla(179, 100%, 35%, 1);
}

#about .container.grid .about-icon .icon p {
  width: 15rem;
  text-align: center;
}
/*==================== section-cards ======================================*/
#section-cards {
  background: #caf4f5;
}

#section-cards .container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

#section-cards .container-cards .card {
  width: 22rem;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  background: white;
  border-bottom: 8px solid #00b1ad;

  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 0px black; /*X Y bluer borda*/
}

#section-cards .container1.grid1 .text p {
  margin-top: 0.625rem; /*2rem do gap + 0.625rem da marging-top = 42px */
  margin-bottom: 2.6rem;
  text-align: justify;
}

#section-cards .text .sub-title {
  margin-top: 4rem;
}

/*==================== Information ======================================*/
#information {
  background: white;
  width: 80%;
  margin: 0 auto;
}

#information .container.grid {
  width: 100%;
  margin: 0 auto;
}

#information .container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#information .container-cards .card {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 1rem;
  text-align: center;

  background: white;
  border-bottom: 8px solid #00b1ad;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 0px black;
}

#information .container-cards h3 {
  color: hsla(179, 100%, 35%, 1);
  font-weight: 600;
  font-size: 1rem;
}

#information .container-cards p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

#information .text {
  font-size: 1rem;
  font-weight: 400;
  display: grid;
  gap: 2rem;
  text-align: justify;
}

/*==================== CONTACT ======================================*/

#contact {
  background: white;
  width: 80%;
  margin: 0 auto;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 0px black;
  border-bottom: 8px solid #00b1ad;
}

#contact .container-form h2 {
  color: #00b1ad;
  text-align: center;
  font-size: 1.5rem;
}

form {
  padding: 0.75rem;
}
#contact .container-form .input {
  margin-bottom: 1rem;
}

#contact .container-form .input input,
select,
button {
  margin-bottom: 1rem;
  width: 100%;
}

#contact button {
  height: 2.5rem;
  margin-top: 1rem;
}

/* #contact .container-form .input input,
button,
select {
  padding: 0.625rem;
  width: 100%;
} */
#contact #teremo-politica {
  width: auto;
}

#contact button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: hsla(179, 100%, 35%, 1);
  font-size: 1rem;
  font-weight: 400;
}

#contact img {
  height: 30px;
}

#contact .text .h2 {
  color: #00b1ad;
  margin: auto;
}

#contact .card {
  width: 100%;
  height: 100%;

  display: flex;
flex-direction: column;
gap: 2rem;  

  background: white;
  border-bottom: 8px solid #00b1ad;

  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 0px black; /*X Y bluer borda*/
}
#contact .card .TitleCardContact {
  font-weight: 600;
font-size: 20px;
text-align: center;
color: #00B1AD;

}
#contact .card .ContentCardContact {
font-size: 12px;
gap: .8rem;
text-align: start;
display: flex;
align-items: center;

color: #000000;
}
#contact .card .ContentCardContact img{
width: 16px;
height: 18px;
}



footer {
  width: 100%;
  background: #00b1ad;
}

footer .section {
  background: #00b1ad;
}

footer .container-logo {
  background: #00b1ad;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

footer .container-logo img {
  width: 13.9rem;
  height: 7.06rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

footer .container-logo p {
  font-size: 0.6rem;
  color: white;
  left: 6.8rem;
}
footer .text-footer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

footer .text-footer p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  line-height: 2rem;

  text-align: center;
}

footer .text-footer .FooterDesenvolvido {
  text-align: center;
}
